* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #aa1111;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: left;
  background: rgb(200, 50, 50);
  opacity: 0.8;
  position: sticky;
  cursor: pointer;
  top: 0;
  overflow: hidden;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style: none;
  padding: 0.5em 0;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  padding: 0 1.5em 0 1.5em;
}
.nav-list li a:hover {
  color: rgb(255, 255, 0);
}
h1 {
  font-size: 6rem;
  padding: 1rem;
  font-weight: bold;
}
h2 {
  font-size: 3rem;
  padding: 4rem 1rem 2rem;
}
h3 {
  font-size: 2rem;
  padding: 1rem 1rem 2rem;
}
#subheader {
  color: rgb(255, 251, 0);
  font-size: x-large;
  text-transform: uppercase;
  padding: 0 1rem 2rem 1rem;
}
.para {
  padding: 1rem;
}
.container {
  padding: 5rem 2rem 5rem 2rem;
}

.first-sec {
  background-color: #aa1111;
  background-image: linear-gradient(#aa1111, #ce0000);
  padding: 1rem;

}
.second-sec {
  background-color: #fff;
  background-image: linear-gradient(#f2f1f1, #fff);
  padding: 0 2rem 1rem 2rem;
}
.third-sec {
  background-color: #aa1111;
  background-image: linear-gradient(#aa1111, #ce0000);
  padding: 4rem 2rem 5rem 2rem;
  color: black;
}
.fourth-sec {
  background-color: #fff;
  background-image: linear-gradient(#f2f1f1, #fff);
  padding: 0 2rem 2rem 2rem;
}
#img-main {
  float: right;
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 30%;
  border: 0.75rem solid rgb(2, 2, 34);
  margin: -1rem 1rem 2rem 0;
}
.img-div {
  padding-top: 1rem;
}
a {
  text-decoration: none;
}
iframe {
  width: 300px;
  height: 200px;
}
.footer {
  color: black;
  background-color: #aa1111;
  background-image: linear-gradient(#aa1111, #ce0000);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.songs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.song-items {
  margin: 0 1rem;
  padding: 0.1rem 1rem;
}
.center-headings {
  text-align: center;
}
#tribute-link {
  color: rgb(248, 201, 98);
  margin-left: 1rem;
}

#tribute-link:visited {
  color: rgb(248, 201, 98);
}
#tribute-link-dash {
  text-decoration: none;
}
.up {
  color: rgb(255, 0, 0);
  background-color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.125em 0.2em 0.125em 0.2em;
  border-radius: 50%;
}
.up:hover {
  color: #fff;
  background: rgb(255, 0, 0);
}
@media only screen and (max-width: 1230px) {
  .songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .song-items {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
  }
  #img-main {
    float: none;
    margin-left: -1rem;
  }
  .navbar {
    justify-content: center;
  }
  .nav-list li a {
    padding: 1.2rem;
  }
}
